<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <title>Spaceballs, The StartPage!</title>
  <link defer rel="stylesheet" href="vendors/font-awesone.min.css">
  <link defer rel="stylesheet" href="vendors/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="vendors/flipclock.css">
  <link rel="stylesheet" href="app.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app" class="is-dark bgImage">
    <div class="container containerWeather">
      <div class="level forecast">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Current Temperature</p>
            <span class="is-size-3 temperature-degree has-text-white">32</span><span
              class="is-size-3 has-text-white">&nbsp;F°</span>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <canvas id="skycon" class="skycon" width="64" height="64"></canvas>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Currently</p>
            <p class="is-size-3 temperature-description has-text-white">F'ing Cold</p>
          </div>
        </div>
      </div>
    </div>
    <section id="main-section" class="section">
      <div v-cloak class="container">
        <div class="columns is-multiline">
          <h2 class="column is-full"><i class="fa fa-search"></i>Info </h2>
          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32"><i class="fas fa-clock" style="font-size: 26px; color: rgb(48, 134, 233);"></i></figure>
                    </div>
                <div class="media-content">
                  <div id ="time" class="title is-size-3 has-text-centered">12:30</div>
                  </div>
                </div>
                </div>
              <footer class ="card-footer">
                <div id ="date-string" class="card-footer-item has-text-grey-light is-size-5">Feb 2</div>
                
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div id="ip" class="title is-size-3 has-text-centered"></div></div>
                <footer class ="card-footer">
                  <div id ="date-string" class="card-footer-item has-text-grey-light is-size-5">Current Public IP</div>
              </div>
            </div>
        </div>
        <div v-if="offline" class="offline-message">
          <i class="far fa-dizzy"></i>
          <h1>You're offline bro. <i class="fas fa-redo-alt" v-on:click="checkOffline()"></i></h1>
        </div>
        <div v-else>
          <!-- Optional messages -->
          <article v-if="config && config.message" class="message" :class="config.message.style">
            <div v-if="config.message.title" class="message-header">
              <p>{{ config.message.title }}</p>
            </div>
            <div v-if="config.message.content" class="message-body">
              {{ config.message.content }}
            </div>
          </article>

          <h2 v-if="filter"><i class="fas fa-search"></i> Search</h2>

          <!-- Horizontal layout -->
          <div v-if="!vlayout || filter" class="columns is-multiline">
            <template v-for="(group, index) in config.services">
              <h2 v-if="!filter && group.name" class="column is-full"><i v-if="group.icon" :class="group.icon"></i><span
                  v-else>#</span>
                {{ group.name }}</h2>
              <service v-for="item in group.items" v-bind:item="item" class="column is-2"
                v-if="!filter || (item && (item.name.toLowerCase().includes(filter.toLowerCase()) || (item.tag && item.tag.toLowerCase().includes(filter.toLowerCase()))))">
              </service>
            </template>
          </div>

          <!-- Vertical layout -->
          <div v-if="!filter && vlayout" class="columns is-multiline layout-vertical">
            <div class="column" v-for="(group, index) in config.services">
              <h2 v-if="!filter && group.name"><i v-if="group.icon" :class="group.icon"></i><span v-else>#</span>
                {{ group.name }}</h2>
              <service v-for="item in group.items" v-bind:item="item"
                v-if="!filter || (item && (item.name.toLowerCase().includes(filter.toLowerCase()) || (item.tag && item.tag.toLowerCase().includes(filter.toLowerCase()))))">
              </service>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="vendors/vue.min.js"></script>
  <script src="vendors/js-yaml.min.js"></script>
  <script src="app.js"></script>
  <script src="js/weather.js"></script>
  <script src="js/skycons.js"></script>
  <script src="vendors/jquery.min.js"></script>
  <script src="js/time.js"></script>
  <script src="js/ip.js"></script>
  <script src="vendors/flipclock.js"></script>
  <script src="js/clock.js"></script>
  <script src="js/calendar.js"></script>
  <script src="vendors/moment.js"></script>
  
</body>

</html>